.container {
  color: #000000;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }

  h2,
  h4 {
    color: #000000;
  }

  p,
  li {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    position: relative;
    height: calc(100vh - 90px);
    overflow-y: auto;
    padding-bottom: 4rem;
  }
}
